.footer{
  padding: 35px;
  border-top: 1px solid rgba(204, 204, 204, 0.171);
}


.footer-wrap{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-wrap a{
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(147, 149, 173, 0.883);
}

.footer-wrap span{
  font-weight: 400;
  font-size: 14px;
  color: rgba(147, 149, 173, 0.883);
}

 span img{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

@media (max-width: 600px) {
  .footer-wrap {
    flex-direction: column;
  }

  .footer-wrap a{
    padding: 8px;
    margin-left: 5px;
    text-align: center;
  }

  .footer-links{
    margin-top: 15px;
    width: 271px;
    text-align: center;
    word-break: break-all;
  }
}