.logo {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 19px;
  color: white;
  margin-left: 12px;
}

.logo a img {
  width: 24px;
  height: 24px;
}

.navbar {
  background-color: transparent;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.253);
  z-index: 3;
  backdrop-filter: blur(5px);
}

header, .flex, .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  height: 66px;
}

.wrapper {
  padding: 0px 82px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar a {
  padding: 9px;
  margin: 0 10px;
}

.nav {
  color: #D0D6E0;
  font-size: 14px;
}

.login-link {
  color: #828fff;
  font-size: 14px;
}

.button {
  color: white;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  cursor: pointer;
  border: none;
  font-size: 14px;
  height: 2rem;
  padding: 0px 10px;
  border-radius: 4px;
  flex-shrink: 0;
}

.button:hover{
  box-shadow: rgba(104, 106, 223, 0.424) 0px 10px 50px;
}





